img{
	width: 1000px;
}
p{
	width: 1000px;
}
main{
	width: 70%;
	margin: auto;
	background-color: white;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
h1{
	text-align: center;
}
div{
	width: 90%;
	margin: auto;
}
body{
	font-family: 'Open Sans', sans-serif;
	background-color: #ccc;
}
